<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>index- Blog</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>Blog</h1>
        <p>Login:</p>
        <form style="border :1px solid black" action="{{path_for('index',{ 'id': user.id })}}" method="POST">
            <input type="email" name="email" id="" placeholder="email">
            <input type="password" name="password" id="">
            <input type="submit" value="submit">
        </form>
        <a href="{{path_for('register')}}"><input  type="button" value="register" ></a>
        <form action="{{path_for('index')}}" method="post">

        </form>
        <table class=" table table-dark">
            <tr>
                <td>ID</td>
                <td>Username</td>
                <td>Email</td>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>

            </tr>     
            {% endfor %}
        </table>
        {% if (form['isLogged']) %}
          <h2>Hello {{ form['email']|escape }} !</h2>
        {% else %}
          <p>User not found</p>
        {% endif %}
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </body>
</html>
